
<div class="backg">
  {% extends 'blog/base.html' %}

  {% block content %}

  <div class="container" style="text-align:center;">

        <div class="welcome_intro">
          <h2 style= "font-weight: 400;">Welcome!</h2>
          <h1 style= "font-weight: 400">I'm <span style="font-weight: 500;">Alvaro Gordero</span></h1>

          <div class="">
            <p style="font-weight: light">"I think it is possible for ordinary people to choose to be extraordinary."</p>
            <p style="font-style: italic;">Elon Musk</p>

          </div>
        </div>


  </div>

  {% endblock %}

</div>
