{% extends 'blog/base.html' %}

{% block content %}

<div class="container">


  <div class="container welcome_intro text-justify text-inter-word">

    <div class="container">
      <h1 style="font-weight: bold;">MyBike</h1>

      <p style="font-weight: light;">“Do not be embarrassed by your failures,
        learn from them and start again” </p>
      <p style="font-style: italic;">- Richard Branson</p>
    </div>

    <br>

    <div class="container">
      <h4 style="font-weight: 600;">The first B2B in the Bike-Sharing without station market.</h4>
      <br>
      <p>Back to <span style="font-weight: bold;">2017</span>, just landed in Shanghai Gonzalo saw something beside their apartment.
         It was a small company called Mobike, it wasn't very popular for that time
         (later Alvaro and Gonzalo rented Mobike's first office to expand ITF).
         Gonzalo saw the potential and both started developing the product. They introduced
         <span style="font-weight: bold;">the first bike sharing system in Europe</span>.
        Finally their Chinese competitors, Ofo and Mobike were growing so fast,
        and the potential investors started losing the interest. </p>
    </div>

    <br>

    <div class="">
        <div class="row">
          <div class="col-lg-6 col-sm">
            <img src="\static\css\pictures\MyBike\Photos_vertical\02.jpg" class="img-fluid" alt="Responsive image">
          </div>
          <div class="col-lg-6 col-sm">
            <img src="\static\css\pictures\MyBike\Photos_vertical\03.jpg" class="img-fluid" alt="Responsive image">
          </div>
        </div>
      </div>

    <br>

    <div class="">
      <p>This was the first bike with Smartlock in Europe. At this time the prototype was perfectly working
        and they were looking for VC in Barcelona.</p>
    </div>

    <div class="container" style="margin-top: 10%;">

      <div class="">
        <h3 style="font-weight: bold;">1.1. IDEA</h3>
        <p style="font-style: italic;">One app to manage thousands of small business.</p>
        <br>
        <h4 style="font-weight: 500;">What was their company going to make?</h4>
        <p>A software for the management of all small companies of bike-sharing without station
         merged into the same brand. MyBIke will provide to bicycle rental companies a management service and hardware.
        This centralized management service allows you to attract more customers since it allows
        users to enjoy the system further than their cities. MyBike manages the deposits giving
        international coverage the user. How will we make money? MyBike charges a fee to the
        companies’ franchisee for each transaction made to rent a bike. Moreover, with advertisement.</p>

        <div class="">
          <p style="font-weight: 500;">What is bike-sharing without station?</p>
          <p>Is an innovative mobility program to reach the maximum flexibility of bike-sharing
           system.Also is a low-cost system which allows you to access to bicycles located each 100 meters
            in the city and park it in your destination.</p>
        </div>

        <div class="">
          <p style="font-weight: 500;">Features:</p>
          <ul style="list-style-position: inside;">
            <li>Free parking place: Park your bicycle wherever you want in the city.</li>
            <li>Smartbikes: With GPS System, powered by solar and dynamo systems.</li>
            <li>Instant payment: Recharge your wallet easily, and scan the QR code to unlock the bike.
             After that, you will have to pay each 30 minutes, the app will do it automatically if you
           are riding the bike.</li>
          </ul>
        </div>
      </div>

      <br>

      <div id="carouselExampleIndicatorsSS" class="carousel slide" data-ride="carousel" >
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicatorsSS" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicatorsSS" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="\static\css\pictures\MyBike\Screenshots\Modificada_web_01.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="\static\css\pictures\MyBike\Screenshots\Modificada_web_02.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicatorsSS" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicatorsSS" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>

    <br>

    <div class="container" style="margin-top: 10%;">
      <h3 style="font-weight: bold;">1.2. TIMING</h3>
      <br>
      <p style="font-weight: 500;">Why now?</p>
      <ul style="list-style-position: inside;">
        <li>Virtual payments.</li>
        <li>Cities are trying to reduce CO2 emissions.</li>
        <li>It will generate a lot of data to analyze users behavior and improve the system.</li>
      </ul>
      <br>
      <p style="font-weight: 500;">News</p>
      <ul style="list-style-position: inside;">
        <li>(31.10.2016) 25-year-old’s $500 million startup fuels china bike-share battle.</li>
        <li>(07.01.2017) China bike sharing could inspire London and Paris.</li>
        <li>(04.01.2017) D’Ofo à Mobike : les « Vélib’ chinois» séduisent les poids lourds du numérique.</li>
      </ul>
    </div>

    <div class="" >
      <div class="row" >
        <div class="container col-lg-6 col-sm" style="margin-top: 5%;">
          <img src="\static\css\pictures\MyBike\Photos_horizontal\02.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="container col-lg-6 col-sm" style="margin-top: 5%;">
          <img src="\static\css\pictures\MyBike\Photos_horizontal\03.jpg" class="img-fluid" alt="Responsive image">
        </div>
      </div>
    </div>

    <br>

    <div class="">
      <p>This photos were taken in Fudan University in Shanghai.</p>
    </div>

    <div class="container" style="margin-top: 10%;">
      <h3 style="font-weight: bold;">1.3. OPORTUNITY</h3>
      <br>
      <p style="font-weight: 500;">Problem:</p>
      <ul style="list-style-position: inside;">
        <li>MyBike solve the problem of the last Km in the cities, routes which are too short to
          go by taxi or bus, but long to go on foot.</li>
      </ul>
      <br>
      <p style="font-weight: 500;">Solution:</p>
      <ul style="list-style-position: inside;">
        <li>Interurban transport net created by smart bicycles structure. This net formed by MyBike
          bicycle, will be controlled by  app. Find the bicycle, scan the code, unblock the Smartlock
          and start riding. With this system always will have available a bicycle each 100 meters.</li>
      </ul>
    </div>

    <div class="container" style="margin-top: 10%;">
        <h3 style="font-weight: bold;">1.4. TEAM</h3>
        <br>
        <p>Our team is made by Gonzalo Gordero and Álvaro Gordero, two brothers from Spain who
        love entrepreneurship.</p>
        <p style="font-weight: 500;">Advantages:</p>
        <ul style="list-style-position: inside;">
          <li>Fast growing model.</li>
          <li>We have been with the suppliers, tested the bicycle's system as well as the app and
            management back-end software.</li>
        </ul>
    </div>

    <div class="">
      <img src="\static\css\pictures\MyBike\Photos_horizontal\01.jpg" class="img-fluid " alt="Responsive image">
    </div>

    <br>

    <p>This photo was taken in SH in order to apply to Y Combinator (startup accelerator).</p>

    <div class="container" style="margin-top: 10%;">
      <h3 style="font-weight: bold;">2.1 BUSINESS MODEL</h3>
      <br>
      <h4 style="font-weight: 500;">B2B2C</h4>
      <p>It is presented a hierarchical model in which MyBike, It will provide a joint image to the
      various companies that currently operate in the market. The purpose is to promote an
      international brand, with greater capacity for customer acquisition more competitive
      and which encourages customer. Moving internationally and enjoy the service will not be a
      problem with centralized system.</p>

      <br>

      <h4 style="font-weight: 500;">What do we provide?</h4>

      <ul style="list-style-position: inside;">
        <li>A joint brand.</li>
        <li>Back-end management software.</li>
        <li>App & Smart Lock</li>
        <li>Bicycles in case that your current fleet does not meet the requirements for the city.</li>
      </ul>

    </div>

    <br>

    <div class="container" style="text-align: center;">
         <img src="\static\css\pictures\MyBike\Logos_diagrams\Iphone_Big.png" class="img-fluid" alt="Responsive image" style="max-height: 600px;">
    </div>

    <div class="container" style="text-align: center;">
         <img src="\static\css\pictures\MyBike\Logos_diagrams\Iphone_Small.png" class="img-fluid" alt="Responsive image" style="max-height: 600px;">
    </div>

    <div class="container" style="text-align: center;">
        <img src="\static\css\pictures\MyBike\Logos_diagrams\Diagram01.png" class="img-fluid" alt="Responsive image" style="max-height: 600px;">
    </div>

    <br>


    <div class="container"  style="text-align: center; margin-top: 3%; margin-bottom: 3%;">
          <img src="\static\css\pictures\MyBike\Logos_diagrams\conjunto.png" class="img-fluid" alt="Responsive image" style="max-height: 600px;">
    </div>

    <br>

    <div class="container">
      <h4 style="font-weight: 500;">How does the business model work?</h4>

      <p>MyBike will be responsible, as if Uber were it, where the drivers were the bicycle rental
      companies, to provide a management service. This centralized management service allows
      you to attract more customers since it allows users to enjoy the system further than
      their cities.</p>

      <p>MyBike charges a fee for each transaction made to rent a bike.</p>

      <p>MyBike system manages the deposits giving international coverage to the user.</p>

    </div>

      <br>

      <div class="container" style="margin-top: 10%;">
        <h3 style="font-weight: bold;"> 2.2. MARKET:</h3>
        <br>
        <p>The potential market will be all the companies in the developed cities with the
          right urban planning of the city, suitable for the use of the bicycle and
          enough mass of consumers adapted to mobile payments.</p>
      </div>

      <div class="container" style="margin-top: 10%;">
        <h3 style="font-weight: bold;">3.1 OUR COMPETITORS: Ofo and Mobike</h3>
        <br>
        <h4>Ofo Bicycles - Mobike</h4>
        <p style="font-weight: 500;">Advantages of Mobike and Ofo:</p>
        <ul style="list-style-position: inside;">
          <li> They have large amounts of money.</li>
          <li> One year experience.</li>
          <li> Having a great team of professionals.</li>
        </ul>

        <div class="">
          <p style="font-weight: 500;">Weak points:</p>
          <ul style="list-style-position: inside;">
            <li> Speed of expansion.</li>
            <li> They need to study and test before deploying their system.</li>
          </ul>
        </div>
      </div>

      <div class="container" style="margin-top: 10%;">
        <h3 style="font-weight: bold;">3.2 HOW TO COMPETE WITH Ofo AND Mobike?</h3>
        <br>
        <p style="font-weight: 500;">Key points:</p>
        <ul style="list-style-position: inside;">
          <li> They haven’t arrived yet to USA and Europe.</li>
          <li> We do not need large sums of money.</li>
          <li> We do not assume risks.</li>
          <li> Speed of deployment: The companies that make use of MyBike
          already have an existing infraestructure and experience in the city's implementation of the
          system.</li>
        </ul>
      </div>

      <div class="" >
        <div class="row" >
          <div class="container col-lg-6 col-sm" style="margin-top: 5%;">
            <img src="\static\css\pictures\MyBike\Photos_vertical\01.jpg" class="img-fluid" alt="Responsive image">
          </div>
          <div class="container col-lg-6 col-sm" style="margin-top: 5%;">
            <img src="\static\css\pictures\MyBike\Photos_vertical\04.jpg" class="img-fluid" alt="Responsive image">
          </div>
        </div>
      </div>
      <div class="container text-center" >
        <p >Gonzalo with Davis Wang, co-founder and CEO of Mobike at that time.</p>
      </div>
      <div class="container text-center" >
        <br>
        <p>OnePager: <a href="https://drive.google.com/file/d/0B-YX-2Xzf6gFd3p6dUJrTHQ2cEU/view"> drive.google.com/file/d/0B-YX-2Xzf6gFd3p6dUJrTHQ2cEU/view</a>  </p>
      </div>
    </div>

    <br>



    </div>

{% endblock %}
